# Ignore bundler config.
/.bundle
vendor/

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore node_modules and webpack bundles
node_modules/
bundle.js
bundle.js.map
bundle.js*
.byebug_history
.DS_Store
npm-debug.log

# Ignore application configuration
/config/application.yml
/config/cloudinary.yml
