$light-orange: #EA532A;
$orange: #DA552F;

$white: #FFFFFF;
$gray: #E8E8E8;
$background-gray: #F9F9F9;
$input-background-gray: #F2F2F2;
$text-gray: #999999;
$dark-gray: #999999;

$gray-blue: #505D6C;
$black: #000000;