.main-nav {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 9px 0;
	min-height: 50px;
	height: 9%;
	max-width: 1070px;
	width: 95%;
	margin: 0 auto;
}

.user-nav {
	width: 15%;
	display: flex;
	justify-content: flex-end;
}

.left-nav > ul,
.right-nav > ul {
	display: flex;
	align-items: center;
}

.left-nav > ul > li {
	margin-left: 20px;
	cursor: pointer;
	text-transform: uppercase;
	font-family: $sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding: 7px 9px;
	transition: background-color 0.3s;
}

.logo-img {
	background-image: url('https://res.cloudinary.com/dekgrddbo/image/upload/v1506108218/product-hunt-logo-orange-960_fvifwi.png');
	background-size: 100%;
	width: 32px;
	height: 32px;
}

.logo {
	display: flex;
}

.logo p {
	margin-left: 5px;
}

.logo:hover {
	cursor: pointer;
}

.logo-text-main {
	color: $orange;
	font-size: 15px;
	font-weight: 800;
}

.logo-text-second {
	color: $text-gray;
}

.user-profile-img-container {
	background-color: $gray;
	border-radius: 16px;
	width: 32px;
	height: 32px;
}

.user-profile-img-container:hover {
	cursor: pointer;
}

.user-profile-img {
	object-fit: cover;
	border-radius: 16px;
}

.search-bar-container {
	// width: 240px;
}

.search-bar {
	width: 240px;
}

@media all and (max-width: 1100px) {
  .right-nav button {
  	display: none;
  }
  .left-nav > ul > li {
  	margin: 0;
  }
  .main-nav {
  	padding: 20px 0;
	}
	
	.logo p {
		display: none;
	}
}