.modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: rgba(128,128,128,0);
  overflow: auto;
  webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;

  //test
  border: 1px solid red;
  width: 40%;
  margin: 0 auto; 
  height: 80%;
  min-height: 250px;
}

.modal_after-open {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;

  display: block;
}

.modal_before-close {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;

  display: block;
}