.product-detail-container {
  max-width: 1110px;
  width: 95%;
  margin: 20px auto;
  background-color: $background-gray;
}

.product-detail-main-content-container {
  display: flex;
  justify-content: space-between;
}

.product-detail-content-bar {
  width: 720px;
}

.product-detail-content-bar > * {
  margin: 0 10px 10px 10px;
}

.product-detail-aside {
  width: 320px;
}

//Product Detail Header
.product-detail-header {
  height: 81px;
  padding: 30px 0;
  display: flex;
  //testå
}

.product-detail-header-img {
  margin-left: 10px;
  height: 80px;
  width: 80px;
}

.product-detail-header-text {
  margin-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


  //test
  // border: 1px solid red;
}

.product-detail-header-name {
  font-size: 18px;
}

.product-item-buttons {
  width: 100%;
  
  //test
  // border: 1px solid red;
}

.product-detail-header-tagline {
  font-size: 12px;
  color: $text-gray;
}

//Product Detail Media 
.product-detail-media {
  width: 720px;
  height: 435px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: $white;
  box-sizing: border-box;
  border: 1px solid $dark-gray;

}

//Product Detail Nav
.product-detail-nav {
  width: 320px;
  //test
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}

.product-detail-nav-upvote-container {
  padding: 5px;
  border-bottom: 1px solid $gray;
}

.product-detail-nav-link-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.product-detail-nav-link-container > * {
  margin: 5px;
}

//Product Discussion
.product-discussion {
  width: 720px;
  padding: 20px;
  background-color: $white;
  box-sizing: border-box;
  border: 1px solid $dark-gray;

}

@media all and (max-width: 1100px) {
  
}