.product-detail-container {
  max-width: 1070px;
  width: 95%;
  margin: 20px auto;
}

//Product Detail Header
.product-detail-header {

  //test
  border: 1px solid red;
}

//Product Detail Header 
.product-detail-media {

  //test
  border: 1px solid red;
}

//Product Detail Nav
.product-detail-nav {

  //test
  border: 1px solid red;
}

@media all and (max-width: 1100px) {
  
}