.thread {
  margin-bottom: 20px;
}

.comment {
  margin: 0 0 20px;
  //test
  // border: 1px solid red;
}

.child-comment {
  margin-left: 42px;
  border-left: 4px solid #e8e8e8;
  margin-bottom: 0;
  padding: 0 0 20px 20px;
  //test
  // border: 1px solid red;
}

.user-spotlight {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 15px;
}

.comment-body {
  margin: 0 0 15px 42px;
  display: block;
}

.comment-actions {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 0 42px;
}

// New Comment Form
.new-comment-form {
  background-color: $input-background-gray;
  border: 1px solid $gray;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 20px;
  max-height: 500px
}

.new-comment-form-input-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.new-comment-form-input-bar textarea {
  margin-left: 10px;
}

.new-comment-form-button-container {
  display: flex;
  justify-content: flex-end;
}